<style>
    .main-progress-bar {
        position: fixed;
        top: 0%;
        left: 0%;
        z-index: 9999;
        width:100%;
        height:100%;
        text-align:center;
        background: rgba(0,0,0,0.6);
    }

 
</style>
<div id="divPartial_ProgressBar" class="main-progress-bar" style="display:none;">
    <div class="spin-loader"></div>
</div>
    @*<div id="divPartial_ProgressBar" class="main-progress-bar" style="display:;">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>*@
