<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--LOCAL CONNECTION STRING-->
    <add key="OrnamentsSqlConnection" value="Data Source=DESKTOP-GAUJGCC;Initial Catalog=JewellerShop;User ID=admin;Password=admin2018;"/>
    <!--ONLINE CONNECTION STRING-->
    <!--<add key="ReplicantSqlConnection" value="Data Source=sql2k1401.discountasp.net;Initial Catalog=SQL2014_980555_replicantweb;User ID=SQL2014_980555_replicantweb_user;Password=@rTur0123;"/>-->
      <!--Company-->
    <add key="DefaultOrgUserImg" value="Default Organization User"/>          <!-- THIS INFO IS STORE IN TIMAGE TABLE -->
    <add key="OrgUserImgCode" value="63"/>                                    <!-- THIS INFO IS STORE IN TCODE TABLE -->
    <add key="DirNameCompanyLogoSave" value="imgCompany"/>                    <!-- THIS INFO IS DIRECTORY NAME OF THE STORED IMAGES -->
    <add key="DirNameOrnamentImgSave" value="imgOrnaments"/>                    <!-- THIS INFO IS DIRECTORY NAME OF THE STORED IMAGES -->
    <add key="DirNameCategoryImgSave" value="imgCategory"/>                    <!-- THIS INFO IS DIRECTORY NAME OF THE STORED IMAGES -->
    <add key="DirNamePositionImgSave" value="imgPosition"/>                    <!-- THIS INFO IS DIRECTORY NAME OF THE STORED IMAGES -->
    
  
    <add key="ServerMapPath" value="~/JwellerShopMedia/" />                 <!-- THIS INFO IS SERVER MAP PATH FOR STORED IMAGES -->
   
    <!--LOCAL-->
    <add key="dPath" value="https://localhost:44317" />
    <add key="iPath" value="https://localhost:44317/JwellerShopMedia/" />
    <add key="iPathRemoveString" value="Ornaments\Ornaments" />

    <!--ONLINE-->
    <!--<add key="dPath" value="http://replicantweb.com" />
    <add key="iPath" value="http://replicantweb.com/JwellerShopMedia/" />
    <add key="iPathRemoveString" value="\Ornaments" />-->
    
      <!-- Start Mail Server Information -->
    <add key="smtpHost" value="smtp.gmail.com" />
    <add key="smtpUserName" value="adqCNtkiSBE6UzHbTQZCpNGkDQo+CB4fIUXFtrNim58{a61}" />
    <add key="smtpPassword" value="v9H4VqcmRVo+IZb8kXScjg{a61}{a61}" />
    <add key="fromEmail" value="Ornaments|if.noreply1403@gmail.com" />
    <add key="smtpPort" value="587" />
    <!-- End Mail Server Information -->
  
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
    <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-ReplicantWeb-20170614135041;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-ReplicantWeb-20170614135041.mdf" providerName="System.Data.SqlClient" />  
    <!--LOCAL CONNECTION STRING -->
    <add name="OrnamentsSqlConnection" connectionString="Data Source=DESKTOP-GAUJGCC;Initial Catalog=JewellerShop;" providerName="System.Data.SqlClient" />
    <!--ONLINE CONNECTION STRING-->
    <!--<add name="OrnamentsSqlConnection" connectionString="Data Source=sql2k1401.discountasp.net;Initial Catalog=SQL2014_980555_replicantweb;User ID=SQL2014_980555_replicantweb_user;Password=@rTur0123;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
